@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/fira-code-2');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* background: #010C15; */
  margin: 0;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
}

* {
  box-sizing: border-box;

}

@media screen and (max-width: 900px) {
  body {
    /* background: #010C15; */
    margin: 0;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
    overflow: hidden;
  }
}

* {
  font-family: 'Fira Code', monospace;
}

.tab.tab-active:not(.tab-disabled):not([disabled]) {
  border-color: #FEA55F;
  --tw-border-opacity: 1;
  --tw-text-opacity: 1;
}

.menu :where(li ul):before {
  /* position: absolute;
  left: 0px;
  top: 0.75rem;
  bottom: 0.75rem;
  width: 1px;
  background-color: hsl(var(--bc) / 0.1);
  content: ""; */
  display: none;
}

.menu :where(li ul) {
  position: relative;
  white-space: nowrap;
  margin-left: 0rem;
  padding-left: 0rem;
}


/* Hide the default scroll bar */
::-webkit-scrollbar {
  width: 15px;
  border: 1px solid #1E2D3D;
  /* background-color: #1E2D3D; */
}

/* Style the thumb */
/* ::-webkit-scrollbar-thumb {
  background-color: #607B96;
  border-radius: 4px;
} */

/* Style the track */
/* ::-webkit-scrollbar-track {
  background-color: transparent;
} */

/* Style the thumb on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background-color: #4D6479;
} */

/* Style the thumb when active */
/* ::-webkit-scrollbar-thumb:active {
  background-color: #334353;
} */

.card-project {
  transition: transform 0.3s ease;
}

.card-project:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 1280px) {
  .toOver{
    max-height: calc(100% - 42px);
  }
}
@media screen and (max-width: 1280px) {
  .toOver{
    max-height: fit-content;
  }
}